@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');
$body-bg: #0a0b0c;
$body-color: #FEFEFE;
$font-family-base: 'Cousine', monospace;
$font-size-base: .9rem;
$primary: #49bdf3;
$warning: #f7c933;
$secondary: rgba(255, 255, 255, 0.5);
$danger: #f83fb1;
$success: #c1f83f;  
$dark: #0f1216;
h1 {
    background-color: $dark;
    font-size: 110% !important;
    padding: 1.2em 1.5em;
}
h2 {
    background-color: $dark;
    font-size: 100% !important;
    padding: 1.2em 1.5em;
    margin-bottom: 0 !important;
}
.nav-link {
    font-size: 90%;
}
.nav-tabs {
    border-bottom: 1px solid $secondary !important;
}
.nav-tabs .nav-link {
    padding-left: 1.75em;
    padding-right: 1.75em;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: $secondary $secondary $primary !important;
}
.btn-sm {
    padding: .5em 1.75em !important;
}
th {
    background-color: $dark;
    color: $secondary !important;
    padding: 1em 1.5em !important;
    font-weight: 500 !important;
    font-size: 90% !important;
}
td {
    background-color: $dark !important;
    padding: .75em 1.5em !important;
}
.form-label {
    color: $secondary !important;
    font-size: 90%;
}
@import '~bootstrap/scss/bootstrap.scss';